h1
{ color: darkcyan;}

header
{
    vertical-align: top;
    width: 100%;
    text-align: center;
}
nav
{
    display: inline-block;
    width: 25%; 
    vertical-align: auto; 
    position: fixed;  
    left: 0px;
}

article
{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    position: absolute;
    left: 25%;
    
}

aside
{
    display: inline-block;
    width: 25%;
    vertical-align: auto;
    position: fixed;
    right: 0px;
}

